.cache/
.dap-breakpoints
.local/
.lsp-session-v1
.org
README.org
auto-save-list/
backup/
bookmarks
company-statistics-cache.el
config.el
config.elc
config.md
config.org~
cursory-latest-state
early-init.elc
early-init.md
eclipse.jdt.ls/
eln-cache/
emojis/
eshell/
fontaine-latest-state.eld
history
init.elc
my-config/
org/
places
projectile-bookmarks.eld
recentf
session.2c69e30f4-0d2d-4645-9025-10d4a3acd836
straight/
themes/
transient/
tutorial/
undo-history/
undo-tree/
var/
workspace/
