.cache/
.dap-breakpoints
.local/
.lsp-session-v1
README.org
auto-save-list/
backup/
bookmarks
company-statistics-cache.el
early-init.elc
eclipse.jdt.ls/
eln-cache/
eshell/
history
init.elc
org/
places
projectile-bookmarks.eld
recentf
session.2c69e30f4-0d2d-4645-9025-10d4a3acd836
straight/
themes/
transient/
undo-history/
var/
workspace/
